## Database connections
DATABASE_URL=postgresql://username:password@localhost:5432/travel_vn?schema=public
MONGODB_CONNECTIONSTRING=mongodb+srv://username:password@cluster.mongodb.net/dev?appName=Cluster0
POSTGRES_CONNECTIONSTRING=postgresql://username:password@localhost:5432/travel_vn

## VNPay payment gateway
VNP_HASH_SECRET=your_vnp_hash_secret
VNP_TMN_CODE=your_vnp_tmn_code
